.max
  .office
    h1 Winnipeg
    h2 Sales
    h3 Bill Nelson
    h4 204.654.9116 ext. 230
    a(href="mailto:bnelson@amjwinnipeg.com") bnelson@amjwinnipeg.com 
    h3 Pam Morris
    h4 204.654.9116 ext. 229
    a(href="mailto:pmorris@amjwinnipeg.com") pmorris@amjwinnipeg.com 
    
  .office
    h1 Toronto East
    h2 Sales
    h4 905.284.0231
    a(href="mailto:jyaeck@amjcampbell.com") jyaeck@amjcampbell.com 

  .office
    h1 Edmonton
    h2 Sales
    h3 Carolyn Coleman
    h4 1.780.453.6946
    a(href="mailto:sales@amjcampbell.ab.ca") sales@amjcampbell.ab.ca 
    
  .office
    h1 Montreal
    h3 Maureen Crawford
    h4 514.631.5223
    a(href="mailto:mcrawford@amjmontreal.com") mcrawford@amjmontreal.com
    
  .office
    h1 Toronto West
    h3 Heather Phair
    h4 905.795.3492
    a(href="mailto:hphair@amjtoronto.com") hphair@amjtoronto.com
    
  .office
    h1 Halifax
    h3 Amanda Zwicker
    h4 902.481.2040
    a(href="mailto:azwicker@amjcampbell.com") azwicker@amjcampbell.com
    
  .office
    h1 Ottawa
    h3 Marc Frappier
    h4 613.737.0000
    a(href="mailto:mfrappier@amjcampbell.com") mfrappier@amjcampbell.com
    
  .office
    h1 Calgary
    h3 Doug Jasper
    h4 403.273.1220
    a(href="mailto:djasper@amjcampbell.com") djasper@amjcampbell.com
    
  .office
    h1 Vancouver
    h3 Allan Brown
    h4 604.940.4208
    a(href="mailto:abrown@amjbc.ca") abrown@amjbc.ca
    
  .office
    h1 Express Vault Head Office
    h3 Brian Farquhar
    h4 905.795.3806
    a(href="mailto:bfarquhar@amjcampbell.com") bfarquhar@amjcampbell.com
