.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.max {
  max-width: 1024px;
  margin: 0 auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}
.white-box {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  width: 250px;
  text-align: center;
  padding: 10px;
  z-index: 1;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cubes {
  position: absolute;
  top: 180px;
  right: 20px;
}
@media only screen and (min-width: 600px) {
  .cubes {
    max-width: 600px;
  }
}
main {
  height: 100%;
  padding: 20px;
}
main > div {
  height: 100%;
}
main .logo {
  position: relative;
  z-index: 1;
  width: 60vw;
}
@media only screen and (min-width: 400px) {
  main .logo {
    width: 240px;
  }
}
.top-card {
  background: #1b9eda;
}
.top-card .logo {
  top: 70%;
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -o-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}
.text-card {
  height: auto;
  background: #fff;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
  max-width: 540px;
}
.text-card > * + * {
  margin-top: 15px;
}
.text-card i {
  color: #006ca8;
}
.text-card h1 {
  font-size: 1.5em;
  color: #006ca8;
}
.text-card h2 {
  font-size: 1.3em;
  color: #1b9eda;
}
.text-card p {
  color: #323232;
  line-height: 1.3em;
}
@media only screen and (min-width: 1000px) {
  .text-card {
    float: right;
    position: relative;
    left: -50px;
  }
}
.we-ship-card {
  background: #fff;
}
@media only screen and (min-width: 1000px) {
  .we-ship-card {
    float: right;
    width: calc(100% - 540px);
    padding: 130px 0 0 0;
  }
}
footer {
  background: #fff;
  text-align: center;
  padding-top: 50px;
}
footer .slogan {
  color: #939598;
  word-spacing: 1.1em;
  font-size: 0.9em;
  padding: 15px;
}
footer .slogan .text {
  position: relative;
  top: -10px;
}
footer .slogan .logo {
  height: 40px;
  margin-left: 15px;
}
