html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.max {
  max-width: 1024px;
  margin: 0 auto;
}
.btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 260px;
  text-align: center;
  color: #006ca8;
  border: 3px solid;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 7px;
  font-size: 1.2em;
  font-weight: 100;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #fff;
  background: #006ca8;
}
@media only screen and (min-width: 1000px) {
  .btn {
    margin-top: 50px;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #1b9eda;
  color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: -1;
  font-weight: 100;
  padding: 20px;
  overflow-y: auto;
}
.overlay * + * {
  margin-top: 8px;
}
.overlay .office + .office {
  margin-top: 20px;
}
.overlay a {
  text-decoration: none;
  color: #fff;
  display: block;
  max-width: 300px;
}
.overlay.opaque {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.overlay.above {
  z-index: 2;
}
.overlay h1 {
  font-size: 2em;
}
.overlay h2 {
  font-size: 1.5em;
}
.overlay h3 {
  font-size: 1.2em;
}
.overlay .fa-close {
  position: fixed;
  top: 12px;
  right: 12px;
  cursor: pointer;
  font-size: 2em;
  z-index: 2;
}
.overlay .fa-close:hover {
  color: #cdcdcd;
}
@media only screen and (min-width: 1000px) {
  .overlay .fa-close {
    top: 20px;
    right: 35px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}
.white-box {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  width: 250px;
  text-align: center;
  padding: 10px;
  z-index: 1;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cubes {
  position: absolute;
  top: 180px;
  right: 20px;
}
@media only screen and (min-width: 600px) {
  .cubes {
    max-width: 600px;
  }
}
.trucks {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 1315px) {
  .trucks img:first-child {
    display: none;
  }
}
@media only screen and (max-width: 905px) {
  .trucks img:not(:last-child) {
    display: none;
  }
}
@media only screen and (max-width: 580px) {
  .trucks img {
    display: none;
  }
}
.main {
  height: 100%;
  padding: 20px;
}
.main > div {
  height: 100%;
}
.main .logo {
  position: relative;
  z-index: 1;
  width: 60vw;
}
@media only screen and (min-width: 400px) {
  .main .logo {
    width: 240px;
  }
}
.top-card {
  background: #1b9eda;
}
.top-card .logo {
  top: 98%;
  -webkit-transform: translateY(-98%);
  -moz-transform: translateY(-98%);
  -o-transform: translateY(-98%);
  -ms-transform: translateY(-98%);
  transform: translateY(-98%);
}
@media only screen and (min-width: 1000px) {
  .top-card .logo {
    top: 75%;
    -webkit-transform: translateY(-75%);
    -moz-transform: translateY(-75%);
    -o-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}
.text-card {
  height: auto;
  background: #fff;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
  max-width: 540px;
}
.text-card > * + * {
  margin-top: 15px;
}
.text-card i {
  color: #006ca8;
}
.text-card h1 {
  font-size: 1.5em;
  color: #006ca8;
}
.text-card h2 {
  font-size: 1.3em;
  color: #1b9eda;
}
.text-card p {
  color: #323232;
  line-height: 1.3em;
}
@media only screen and (min-width: 1000px) {
  .text-card {
    float: right;
    position: relative;
    left: -50px;
  }
}
.we-ship-card {
  background: #fff;
}
@media only screen and (min-width: 1000px) {
  .we-ship-card {
    float: right;
    width: calc(100% - 540px);
    padding: 130px 0 0 0;
  }
}
footer {
  background: #fff;
  text-align: center;
  padding-top: 50px;
}
footer .slogan {
  color: #939598;
  word-spacing: 1.1em;
  font-size: 0.9em;
  padding: 15px;
}
footer .slogan .text {
  position: relative;
  top: -10px;
}
footer .slogan .logo {
  height: 40px;
  margin-left: 15px;
}
