.max {
  max-width: 1024px;
  margin: 0 auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #1b9eda;
  overflow-x: hidden;
}
.cubes {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media only screen and (min-width: 600px) {
  .cubes {
    max-width: 600px;
  }
}
main {
  height: 100%;
  padding: 20px;
}
main > div {
  height: 100%;
}
main .logo {
  position: relative;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60vw;
}
@media only screen and (min-width: 400px) {
  main .logo {
    width: 240px;
  }
}
.card-2 {
  background: #fff;
}
footer {
  background: #fff;
  text-align: center;
}
footer .slogan {
  color: #939598;
  word-spacing: 1.1em;
  font-size: 0.9em;
  padding: 15px;
}
footer .slogan .text {
  position: relative;
  top: -10px;
}
footer .slogan .logo {
  height: 40px;
  margin-left: 15px;
}
