@import 'nib'
@import 'rupture'

global-reset()

mainBlue = #1B9EDA
maxWidth = 1024px

.row
  clearfix()

.max
  max-width maxWidth
  margin 0 auto

.btn
  cursor pointer
  display block
  margin 0 auto
  width 260px
  text-align center
  color mainBlue - 50
  border 3px solid
  border-radius 20px
  margin-top 20px
  padding 7px
  font-size 1.2em
  font-weight 100
  transition all 0.3s ease

  &:hover
    color white
    background mainBlue - 50

  +above(1000px)
    margin-top 50px

.overlay
  width 100%
  height 100%
  position fixed
  background-color mainBlue
  color white
  opacity 0
  transition opacity 0.3s ease
  z-index -1
  font-weight 100
  padding 20px
  overflow-y auto

  * + *
    margin-top 8px

  .office + .office
    margin-top 20px

  a
    text-decoration none
    color white
    display block

  &.opaque
    opacity 1

  &.above
    z-index 2

  h1
    font-size 2em

  h2
    font-size 1.5em

  h3
    font-size 1.2em

  .fa-close
    position fixed
    top 10px
    right 10px
    cursor pointer
    font-size 2em
    z-index 2

    &:hover
      color white - 50

*
  box-sizing border-box

html,
body
  height 100%
  font-family 'Roboto', sans-serif

body
  overflow-x hidden

.white-box
  position absolute
  left 0
  right 0
  margin 0 auto
  background-color white
  width 250px
  text-align center
  padding 10px
  z-index 1
  box-shadow 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.cubes
  position absolute
  top 180px
  right 20px

  +above(600px)
    max-width 600px

main
  height 100%
  padding 20px

  & > div
    height 100%

  .logo
    position relative
    z-index 1
    width 60vw

    +above(400px)
      width 240px

.top-card
  background mainBlue

  .logo
    top 90%
    transform translateY(-90%)

    +above(1000px)
      top 75%
      transform translateY(-75%)

.text-card
  height auto
  background white
  text-align center
  font-weight 100
  margin 0 auto
  max-width 540px

  & > * + *
    margin-top 15px

  i
    color mainBlue - 50

  h1
    font-size 1.5em
    color mainBlue - 50

  h2
    font-size 1.3em
    color mainBlue

  p
    color black + 50
    line-height 1.3em

  +above(1000px)
    float right
    position relative
    left -50px

.we-ship-card
  background white

  +above(1000px)
    float right
    width calc(100% - 540px)
    padding 130px 0 0 0

footer
  background white
  text-align center
  padding-top 50px

  .slogan
    color #939598
    word-spacing 1.1em
    font-size 0.9em
    padding 15px

    .text
      position relative
      top -10px

    .logo
      height 40px
      margin-left 15px
