doctype html
html
  head
    title Front-End Boilerplate
    meta(name="viewport" content="width=device-width, initial-scale=1") 
    
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css')
    
    link(href="css/index.css" rel="stylesheet")
      
  body
    img.cubes(src="img/cubes.svg")
    main.card-1
      .max
        img.logo(src="img/a-new-way-to-move-white.svg")
    
    main.card-2
      .max
        img.logo(src="img/we-load.svg")
    
    footer   
      img(src="img/ev-logo.png")
      .slogan
        span.text BROUGHT TO YOU BY
        img.logo(src="img/amj-logo.gif")
