doctype html
html
  head
    title Front-End Boilerplate
    meta(name="viewport" content="width=device-width, initial-scale=1") 
    
    link(href="css/index.css" rel="stylesheet")
      
  body
    main.card-1
      .max
        img.cubes(src="img/cubes.svg")
        img.logo(src="img/a-new-way-to-move-white.svg")
    
    main.card-2
      .max
        img.logo(src="img/we-load.svg")
       
      
