doctype html
html
  head
    title Front-End Boilerplate
    meta(name="viewport" content="width=device-width, initial-scale=1") 
    
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css')
      
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    
    link(href="css/index.css" rel="stylesheet")
      
  body
    .white-box
      img(src="img/ev-logo.png")
    img.cubes(src="img/cubes.svg")
    main.top-card
      .max
        img.logo(src="img/a-new-way-to-move-white.svg")
          
    .row.max
      main.text-card
        div.fa-stack.fa-3x
          i.fa.fa-circle-thin.fa-stack-2x
          i.fa.fa-truck.fa-stack-1x  
          
        h1.
          MAKING MOVING SAFE, SECURE AND CONVENIENT.
          
        h2 SAFE AND SECURE
        
        p.
          Once loaded at your home, the vault is never unlocked until it arrives at the destination. This allows for the reduction of additional handling, potential damage and missing goods.
          
        h2 IDEAL FOR ALL SHIPMENTS
        
        p.
          Designed for small and large shipments by the moving pros, its the safest, fastest way to go.
          
        h2 FAST, EFFICIENT AND CONVENIENT
        
        p.
          We load at your convenience. We ship to your schedule. The tightest delivery windows in moving.
          
        h2 PERFECT FOR STORAGE
        
        p.
          Secure vaults are ideal for storage as well as extended delivery schedules.
          
        h2 COST EFFECTIVE
        
        p.
          Anywhere in Canada. ExpressVault is the most efficient way to move. Let us compare pricing for you!
      
      main.we-ship-card
        .max
          img.logo(src="img/we-load.svg")
    
    footer   
      img(src="img/ev-logo.png")
      .slogan
        span.text BROUGHT TO YOU BY
        img.logo(src="img/amj-logo.gif")
